body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map {
  position: fixed;
  width: 50%;
  height: 100vh;
}
#root {
  float: right;
  width: 50%;
}
.section-event {
  height: 100vh;
}
.card {
  height: 50vh;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
@media only screen and (max-width: 600px) {
  #map {
    width: 100%;
    height: calc(100vh - 400px);
  }

  #root {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 400px;
    margin-left: 0;
  }
}
