body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  word-break: break-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map {
  position: fixed;
  width: 50%;
  height: 100vh;
}
#root {
  float: right;
  width: 50%;
}
.section-event {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30vh;
}
.event {
  width: 90%;
  transition: 1s;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin-bottom: 40px;
  margin-right: 15px;
  padding: 30px;
  width: 33%;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(241, 85, 86);
}
.name-location {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bolder;
  color: rgb(5, 9, 57);
}
.name-event {
  color: rgb(5, 9, 57);

  font-size: 2rem;
  font-weight: bolder;
}
.visble {
  transform: scale(1);
}
.hidden {
  transform: scale(0.7);
}

.btn-next {
  position: fixed;
  right: 50%;
  top: 0;
  z-index: 9999;
  width: 100px;
  height: 100px;
  background-color: white;
  border: none;
}
button:focus {
  outline: 0;
}

@media only screen and (max-width: 600px) {
  #map {
    width: 100%;
    height: calc(100vh - 400px);
  }

  #root {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 0;
    height: 400px;
  }
  .event {
    display: flex;
    flex-wrap: wrap;
  }
  .cards {
    margin-right: 0;
  }
  .card {
    width: 90%;
    margin-right: 0;
  }
}
