body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  word-break: break-all;
}

h1 {
  margin: 0;
}
.marker {
  background-image: url("/icon.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map {
  position: fixed;
  width: 50%;
  height: 100vh;
}
#root {
  float: right;
  width: 50%;
}
.bk {
  background-color: rgb(223, 223, 223);
}
.section-event {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30vh;
}
.section-event:last-child {
  margin-bottom: 10vh;
}
.event {
  width: 90%;
  transition: 1s;
  border-top: solid 2px white;
}
#first {
  height: 80vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  word-break: keep-all;
  align-content: center;
}
#first h1 {
  width: 100%;
  font-size: 5rem;
  color: rgb(5, 9, 57);
}
#first span {
  color: #f15556;
}
#first span.white {
  color: white;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin-bottom: 40px;
  margin-right: 15px;
  padding: 30px;
  width: 33%;
  border-radius: 10px;
  font-weight: bold;
  color: rgb(241, 85, 86);
  background-color: white;
  box-shadow: 2px 3px 10px rgb(207, 207, 207);
}

.name-location {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bolder;
  color: rgb(5, 9, 57);
}
.name-event {
  color: rgb(5, 9, 57);
  font-size: 2rem;
  font-weight: bolder;
}
.visble {
  transform: scale(1);
}
.hidden {
  transform: scale(0.7);
}

.btn-next {
  position: fixed;
  right: 50%;
  top: 0;
  z-index: 8;
  width: 100px;
  height: 100px;
  background-color: rgb(241, 85, 86);
  border: none;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}
button:focus {
  outline: 0;
}
.mapboxgl-ctrl-top-right {
  bottom: 20px;
  left: 20px;
  top: initial;
  right: initial;
}

.open {
  transform: translateX(0%);
}
.close {
  transform: translateX(100%);
}

.container-venues {
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 100%;
  background-color: rgb(5, 9, 57);
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  transition: 1s;
  box-shadow: 5px 5px 20px black;
}

.venue-page {
  width: 100%;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 200px;
}

.venue-page .venue {
  background-color: white;
  color: rgb(241, 85, 86);
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 10px 30px;
  width: fit-content;
  margin-bottom: 50px;
  margin-right: 50px;
}
.venue-page .venue:hover {
  cursor: pointer;
}
.btn-open {
  position: fixed;
  right: calc(50% + 103px);
  top: 0;
  z-index: 8;
  width: 100px;
  height: 100px;
  color: rgb(241, 85, 86);
  border: none;
  background-color: white;
  font-weight: bolder;
  text-transform: capitalize;
}

.btn-close {
  position: fixed;
  right: 50%;
  top: 0;
  z-index: 8;
  width: 100px;
  height: 100px;
  background-color: rgb(241, 85, 86);
  border: none;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  #map {
    width: 100%;
    height: calc(100vh - 350px);
  }

  #root {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 0;
    height: 350px;
  }
  #first {
    height: auto;
    margin-bottom: 60px;
    align-content: flex-start;
  }
  #first h1 {
    font-size: 3rem;
  }
  .btn-next {
    right: 0;
    bottom: 350px;
    top: initial;
    word-break: keep-all;
    width: 80px;
    height: 50px;
  }
  .btn-open {
    left: 0;
    width: 80px;
    height: 50px;
    word-break: keep-all;
  }
  .event {
    display: flex;
    flex-wrap: wrap;
  }
  .cards {
    margin-right: 0;
  }
  .card {
    width: 90%;
    margin-right: 0;
  }
  .btn-close {
    right: auto;
  }
  .venue-page .venue {
    text-align: center;
    word-break: keep-all;
    margin-right: 0;
  }
}
